@import "tailwindcss";
@import "tw-animate-css";
@tailwind utilities;

/*---break---*/
@custom-variant dark (&:is(.dark *));

@theme inline {
}

* {
  user-select: none;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  cursor: url("/cursor/pointer.svg") 0 0 auto;
}

/*---break---*/

@theme {
  --color-canvas-dot: #555555;
  --color-canvas: #080808;

  --color-node-from-gradient: #161616;
  --color-node-to-gradient: #151515;
  --color-node-outline-active: #ffffff;
  --color-node-outline: #555555;
  --color-node-text-hover: #ffffff;
  --color-node-text: #cacaca;

  --color-node-input: #0f0f0f;
  --color-node-input-focus: #2f2f2f;

  --color-node-select-outline: #444444;
  --color-node-select: #0f0f0f;
  --color-node-select-hover: #151515;

  --color-node-vz-outline: #444444;
  --color-node-vz-line: #151515;
  --color-node-vz: #0f0f0f;
  --color-node-vz-activ: #ffffff;
  --color-node-vz-muted: #777777;

  --color-edge-active: #ffffff;
  --color-edge: #cacaca;

  --color-connection: #cacaca;

  --color-node-status-positiv: #005500;
  --color-node-status-negativ: #550000;
  --color-node-status-default: #333333;

  --color-node-head-layer-from-gradient: #047857;
  --color-node-head-layer-to-gradient: #022c22;

  --color-node-head-model-from-gradient: #b91c1c;
  --color-node-head-model-to-gradient: #450a0a;

  --color-node-head-transform-from-gradient: #4d7c0f;
  --color-node-head-transform-to-gradient: #1a2e05;

  --color-node-head-data-from-gradient: #6d28d9;
  --color-node-head-data-to-gradient: #2e1065;
}

@layer theme {
  [data-theme="dark"],
  html.dark {
    --color-canvas-dot: #555555;
    --color-canvas: #080808;

    --color-node-from-gradient: #161616;
    --color-node-to-gradient: #151515;
    --color-node-outline-active: #ffffff;
    --color-node-outline: #555555;
    --color-node-text-hover: #ffffff;
    --color-node-text: #cacaca;

    --color-node-input: #0f0f0f;
    --color-node-input-focus: #2f2f2f;

    --color-node-select-outline: #444444;
    --color-node-select: #0f0f0f;
    --color-node-select-hover: #151515;

    --color-node-vz-outline: #444444;
    --color-node-vz-line: #151515;
    --color-node-vz: #0f0f0f;
    --color-node-vz-activ: #ffffff;
    --color-node-vz-muted: #777777;

    --color-edge-active: #ffffff;
    --color-edge: #cacaca;

    --color-connection: #cacaca;

    --color-node-status-positiv: #005500;
    --color-node-status-negativ: #550000;
    --color-node-status-default: #333333;

    --color-node-head-layer-from-gradient: #047857;
    --color-node-head-layer-to-gradient: #022c22;

    --color-node-head-model-from-gradient: #b91c1c;
    --color-node-head-model-to-gradient: #450a0a;

    --color-node-head-transform-from-gradient: #4d7c0f;
    --color-node-head-transform-to-gradient: #1a2e05;

    --color-node-head-data-from-gradient: #6d28d9;
    --color-node-head-data-to-gradient: #2e1065;
  }

  [data-theme="light"],
  html.light {
    --color-canvas-dot: #30343f;
    --color-canvas: #fafaff;

    --color-node-from-gradient: #e9ecef;
    --color-node-to-gradient: #e9ecef;
    --color-node-outline-active: #000000;
    --color-node-outline: #d1d5db;
    --color-node-text-hover: #000000;
    --color-node-text: #374151;

    --color-node-input: #f8f9fa;
    --color-node-input-focus: #ffffff;

    --color-node-select-outline: #9ca3af;
    --color-node-select: #ffffff;
    --color-node-select-hover: #f9fafb;

    --color-node-vz-outline: #555555;
    --color-node-vz-line: #bbbbbb;
    --color-node-vz: #fafafa;
    --color-node-vz-activ: #111111;
    --color-node-vz-muted: #777777;

    --color-edge-active: #000000;
    --color-edge: #374151;

    --color-connection: #374151;

    --color-node-status-positiv: #dcfce7;
    --color-node-status-negativ: #fef2f2;
    --color-node-status-default: #f3f4f6;

    --color-node-head-layer-from-gradient: #10b981;
    --color-node-head-layer-to-gradient: #10b981;

    --color-node-head-model-from-gradient: #ef4444;
    --color-node-head-model-to-gradient: #ef4444;

    --color-node-head-transform-from-gradient: #84cc16;
    --color-node-head-transform-to-gradient: #84cc16;

    --color-node-head-data-from-gradient: #8b5cf6;
    --color-node-head-data-to-gradient: #8b5cf6;
  }
}

.fade-text {
  /* Cache le texte qui dépasse */
  overflow: hidden;

  /* Crée un masque en dégradé de haut à bas */
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  /* Pour Firefox */
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

/*---break---*/

@layer utilities {
  /* Supprime les flèches sur Chrome, Edge, Safari */
  .no-spin::-webkit-inner-spin-button,
  .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Supprime les flèches sur Firefox */
  .no-spin {
    -moz-appearance: textfield;
  }
}

/*   --color-node-head-layer: 0;
  --color-node-head-model: 0;
  --color-node-head-transform: 0;
  --color-node-head-data: 0;
  --color-canvas-dot: #550000;
  --color-canvas: #005500;
  --color-node-from-gradient: #ff9f43;
  --color-node-to-gradient: #ffd460;
  --color-node-outline-active: #34d399;
  --color-node-outline: #3b82f6;
  --color-node-input: #e0f7ff;
  --color-node-input-focus: #b3efff;
  --color-node-text-hover: #f87171;
  --color-node-text: #1e40af;
  --color-node-select-ouline: #ff0000;
  --color-node-select: #00ff00;
  --color-node-select-hover: #0000ff;
  --color-node-vz-outline: #ffff00;
  --color-node-vz-line:#ff00ff;
  --color-node-vz: #00ffff;
  --color-node-vz-activ: #0afaaf;
  --color-node-status-positiv:#ffaaaa;
  --color-node-status-negativ:#aaffaa;
  --color-node-status-default:#aaaaff;
  --color-edge-active: #fbbf24;
  --color-edge: #8b5cf6;
  --color-connection: #22d3ee;
  --color-node-head-layer: 0;
  --color-node-head-model: 0;
  --color-node-head-transform: 0;
  --color-node-head-data: 0; */
